<!-- breadcrumb start -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <!-- <div class="page-title">
                    <h2>shop</h2>
                </div>
            </div>
            <div class="col-sm-6"> -->
                <div class="col-12" style="display: flex; width: 100%; margin: 0 auto;">
                    <div style="width: 90%;">
                        <input style="background: white !important; color: #5d5d5d !important;"
                            placeholder="{{isPlaceholderError?'please enter a text':'search'}}"
                            [ngStyle]="{'background-color': (isPlaceholderError) ? '#CD5C5C' : '#ffffff' }"
                            name="search" type="text" [(ngModel)]="search" class="form-control"
                            (ngModelChange)="searchChange($event)">
                    </div>
                    <div style="width: 10%;">
                        <button (click)="searchProduct(search)" class="btn btn-solid" style="height: 100%;width: 100%;">
                            <span style="font-size: 12px;" class="d-none d-lg-block">
                                serach
                            </span>
                            <i class="fa fa-search d-lg-none"> </i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb end -->


<!-- section start -->
<!-- <section class=""> -->
<div class="collection-wrapper" style="margin-top: 15px;margin-bottom: 10px;">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 collection-filter">
                <!-- side-bar colleps block stat -->
                <div class="collection-filter-block" style="padding: 10px !important; margin-top: 45px;">
                    <ng-multiselect-dropdown [placeholder]="'Select Category'" [settings]="dropdownSettings"
                        (onSelect)="onSelectCatogry($event)" (onDeSelect)="onDeSelectCatogry()" [data]="allCategory"
                        [(ngModel)]="selectedCatogry">
                    </ng-multiselect-dropdown>
                </div>
                <!-- silde-bar colleps block end here -->
            </div>
            <div class="collection-content col">
                <div class="page-main-content">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="collection-product-wrapper">
                                <div class="product-wrapper-grid">
                                    <div class="row margin-res">
                                        <div class="col-12 d-block d-lg-none">
                                            <ng-multiselect-dropdown [placeholder]="'Select Category'"
                                                [settings]="dropdownSettings" (onSelect)="onSelectCatogry($event)"
                                                (onDeSelect)="onDeSelectCatogry()" [data]="allCategory"
                                                [(ngModel)]="selectedCatogry">
                                            </ng-multiselect-dropdown>
                                        </div>

                                        <!-- if not get any products -->
                                        <ngx-spinner name="loadProducts" size="small" color="#ffffff"
                                            type="ball-spin-clockwise" [fullScreen]="false">
                                            <p style="color: white"> Loading... </p>
                                        </ngx-spinner>

                                        <div class="product-box" *ngIf="products.length==0" style="width: 100%;">
                                            <h2 class="text-center">
                                                No products Available !!
                                            </h2>
                                        </div>

                                        <div class="container-fluid" style="margin-bottom: 15px;">
                                            <div class="row" style="display: flex; justify-content: center;">
                                                <div class="col-xl-3 col-md-4 col-6 col-grid-box product-christmas"
                                                    *ngFor="let product of products" style="text-align: center;">
                                                    <div class="product-box">
                                                        <div class="img-wrapper">
                                                            <div class="front">
                                                                <a (click)="getPrdouctInfo(product)" style="cursor: pointer;"
                                                                    data-toggle="modal" data-target="#quick-view"><img
                                                                        src="{{product['photo']}}"
                                                                        class="img-fluid img_products" alt=""></a>
                                                            </div>
                                                            <div class="cart-info cart-wrap">
                                                                <button (click)="add_cart(product['id'],quantity)"
                                                                    title="Add to cart"><i
                                                                        class="fa fa-shopping-cart"></i></button>
                                                                <a style="cursor: pointer;"
                                                                    (click)="add_wishlist(product['id'])"
                                                                    title="Add to Wishlist"><i class="fa fa fa-heart-o"
                                                                        aria-hidden="true"></i></a>
                                                                <!-- <a href="#" data-toggle="modal" data-target="#quick-view" title="Quick View"><i
                                                                        class="ti-search" aria-hidden="true"></i></a>        -->
                                                            </div>
                                                        </div>
                                                        <div class="product-detail">
                                                            <h6 (click)="getPrdouctInfo(product)" (click)="getPrdouctInfo(product)"
                                                                style="cursor: pointer;" data-toggle="modal"
                                                                data-target="#quick-view" title="{{product['name']}}"
                                                                style="color: white;" class="text_inline">
                                                                {{product['name']}}
                                                            </h6>
                                                            <h4 class="color_pound">
                                                                <span style="font-size: 15px;">{{ currency }}</span>
                                                                {{product['price']}}
                                                            </h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- </section> -->
<!-- section End -->



<!-- Quick-view modal popup start-->
<div class="modal fade bd-example-modal-lg theme-modal" id="quick-view" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document" *ngFor="let modall of modal">
        <div class="modal-content quick-view-modal">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <div class="row">
                    <div class="col-lg-6 col-xs-12">
                        <div class="quick-view-img"><img src="{{modall['photo']}}" alt=""
                                class="img-fluid blur-up lazyload search_model"></div>
                    </div>
                    <div class="col-lg-6 rtl-text">
                        <div class="product-right">
                            <h3>{{modall['name']}}</h3>
                            <h3><span style="font-size: 18px;">{{ currency }}</span>&nbsp;{{modall['price']}}</h3>
                            <div class="border-product">
                                <h6 class="product-title">product details</h6>
                                <span>
                                    {{modal[0]['description']}}
                                </span>
                                <!-- <p>Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium
                                    doloremque laudantium
                                </p> -->
                            </div>
                            <div class="product-description border-product">
                                <h6 class="product-title">quantity</h6>
                                <div class="qty-box">
                                    <div class="input-group"><span class="input-group-prepend"><button type="button"
                                                class="btn quantity-left-minus" data-type="minus" data-field=""
                                                (click)="mins()"><i class="ti-angle-left"></i></button> </span>
                                        <input type="text" name="quantity" class="form-control input-number" value="1"
                                            [(ngModel)]="quantity"> <span class="input-group-prepend"><button
                                                type="button" class="btn quantity-right-plus" data-type="plus"
                                                data-field="" (click)="plus()"><i
                                                    class="ti-angle-right"></i></button></span>
                                    </div>
                                </div>
                            </div>
                            <div class="product-buttons"><a (click)="add_cart(modal[0]['id'],quantity)"
                                    class="btn btn-solid" data-dismiss="modal">add to cart</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Quick-view modal popup end-->