<!-- footer -->
 <footer class="footer-light">
  <section class="section-b-space light-layout">
      <div class="container">
          <div class="row footer-theme partition-f">
              <div class="col-lg-4 col-md-6">
                  <div class="footer-title footer-mobile-title">
                      <h4>about</h4>
                  </div>
                  <div class="footer-contant">
                      <div class="footer-logo">
                        <span style="font-weight: 500;font-size: 37px;letter-spacing: 3.74px;line-height: 46px;">
                          Skärpt
                        </span>
                        <!-- <img src="../assets/images/icon/logo/18.png" alt=""> -->
                      </div>
                      <p>Plan your smart devices with our specialists All your technology working seamlessly together to make your home or business smarter.</p>
                      <div class="footer-social" >
                          <ul>
                            <li>
                              <a href="https://www.linkedin.com/company/sk%C3%A4rpt/mycompany/" target="_blank">
                                  <i style="font-size: 28px;" class="fa fa-linkedin-square" aria-hidden="true"></i>
                              </a>
                            </li>
                          </ul>
                      </div>
                  </div>
              </div>
              <div class="col">
                  <div class="sub-title">
                      <div class="footer-title">
                          <h4>why we choose</h4>
                      </div>
                      <div class="footer-contant">
                          <ul>
                              <li><a style="cursor: default;">shipping & return</a></li>
                              <li><a style="cursor: default;">secure shopping</a></li>
                              <li><a style="cursor: default;">contacts</a></li>
                          </ul>
                      </div>
                  </div>
              </div>
              <div class="col">
                  <div class="sub-title">
                      <div class="footer-title">
                          <h4>store information</h4>
                      </div>
                      <div class="footer-contant">
                          <ul class="contact-list">
                              <li><i class="fa fa-map-marker"></i>Egypt Giza Hadayek el ahram 61 (s)</li>
                              <li><i class="fa fa-phone"></i>Call Us: +20 233900399</li>
                              <li><i class="fa fa-envelope-o"></i>Email Us: <a>info@skarpt.net</a></li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <div class="sub-footer">
      <div class="container">
          <div class="row">
              <div class="col-xl-6 col-md-6 col-sm-12">
                  <div class="footer-end">
                      <p><i class="fa fa-copyright" aria-hidden="true"></i> 2022 Skärpt</p>
                  </div>
              </div>
              <!-- <div class="col-xl-6 col-md-6 col-sm-12">
                  <div class="payment-card-bottom">
                      <ul>
                          <li>
                              <a href="#"><img src="../assets/images/icon/visa.png" alt=""></a>
                          </li>
                          <li>
                              <a href="#"><img src="../assets/images/icon/mastercard.png" alt=""></a>
                          </li>
                          <li>
                              <a href="#"><img src="../assets/images/icon/paypal.png" alt=""></a>
                          </li>
                          <li>
                              <a href="#"><img src="../assets/images/icon/american-express.png" alt=""></a>
                          </li>
                          <li>
                              <a href="#"><img src="../assets/images/icon/discover.png" alt=""></a>
                          </li>
                      </ul>
                  </div>
              </div> -->
          </div>
      </div>
  </div>
</footer>
<!-- footer end -->

